<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist User</title>
    
    <!-- link -->
    <link rel="stylesheet" href="/Public/booklist-css/style-user.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../img/bx-user.svg" type="image/x-icon">
    <link rel="stylesheet" href="/Public/CSS/navbar.css">
    <!--  -->

</head>
<body>
    <nav class="nav-con">
        <div class="user-profile">
            <i class='bx bxs-user-circle'></i>
          <h3></h3>
        </div>
        <div class="menu">
          <ul>
            <li><a href="http://localhost:3333/Booklist-student">Booklist</a></li>
            <li><a href="http://localhost:3333/requeststatus">Request Status</a></li>
            <li><a href="http://localhost:3333/historyuser">History</a></li>
            <li><a href="" id="logout">Logout</a></li>
          </ul>
        </div>
      </nav>
<!-- index -->
      <main>
        <div class="main-con">
            <div class="text">
                <h1>BookList</h1>
                <h2>Choose a book</h2>
            </div>

            <!-- Product -->
            <div class="product" id="book-list">
                <!-- Product-item -->
                
                <!-- product-item -->
            </div>
        </div>
      </main>
</body>

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/Public/booklist-js/script-user.js"></script>
<script src="/Public/js/logout.js"></script>
<!--  -->

</html>