<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormRequest</title>
    
    <!-- link -->
    <link rel="stylesheet" href="/Public/CSS/formrequest.css">
    <link rel="shortcut icon" href="../img/bx-user.svg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/Public/CSS/navbar.css">
    <!--  -->

</head>

<body>
    <nav class="nav-con">
        <div class="user-profile">
            <i class='bx bxs-user-circle'></i>
          <h3></h3>
        </div>
        <div class="menu">
          <ul>
            <li><a href="http://localhost:3333/Booklist-student" id="booklist_student">Booklist</a></li>
            <li><a href="http://localhost:3333/requeststatus" id="checkrequ_s">Request Status</a></li>
            <li><a href="http://localhost:3333/historyuser" id="historyuser">History</a></li>
            <li><a href="" id="logout">Logout</a></li>
          </ul>
        </div>
      </nav>

    <main>
        <div class="container">
        <!-- item -->
            
        <!--  -->
         </div>
    </main>
</body>

<!-- script -->
<script src="/Public/js/logout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/Public/booklist-js/script-formrequest.js"></script>
<!--  -->

</html>